.quizItem {
  background-color: #e9f3ff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: fit-content;
  min-width: 600;
}

.container {
    margin-top: 20px;
    padding: 30px 20px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.quizContiner {
  margin: 0 auto;
}

.quizBlock {
  background-color: #e9f3ff;
  padding: 5px 10px;
  width: 350px;
  border-radius: 5px;
}

.name {
  font-weight: bold;
  font-size: small;
  margin: 5px 0;
}

.description {
  max-width: 350px;
  font-size: smaller;
  margin-bottom: 10px;
}

.line {
  border-bottom: 1px solid gray;
  width: 95%;
  margin: 10px 0;
}

.authorDate {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: x-small;
  color: #6e6e6e;
  margin-bottom: 10px;
}

.questions {
  font-size: x-small;
  margin-bottom: 10px;
}

.startButton {
  padding: 10px 20px;
  background-color: #8eb6e7;
  border-radius: 30px;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
  transition: background-color 0.3s ease;
  align-self: center;
}

.startButton:hover {
  background-color: #6a92ca;
}

.quizzesName {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

